* {
	font-family: sans-serif;
	margin-bottom: 10px;
}

.form-title {
	font-size: medium;
	font-weight: 700;
	margin-bottom: 10px 10px;
}

fieldset {
	border: 3px solid #070707;
	border-radius: 10px;
	background-color: #5a595856;
	max-width: 300px;
}

.new-string {
	display: block;
	width: 220px;
	color: #512a95;
}

.send {
	color: #a6a796;
	display: block;
	border-style: none;
	padding: 5px 9px;
	border-radius: 7%;
	border-color: #070707;
	background-color: #070707;
	cursor: pointer;
}

textarea {
	resize: vertical;
	width: 223px;
	min-height: 50px;
	max-height: 200px;
}

.consent-label {
	display: block;
	cursor: pointer;
}
