html {
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header {
	margin: 0 auto;
	max-width: 1220px;
}

.nav-list {
	display: flex;
	gap: 25px;
}

.nav-link {
	color: #353434;
}

.header-tel {
	color: black;
	text-decoration: none;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 15px;
}

.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 2px solid #353434;
}

.logo {
	display: flex;
	flex-shrink: 0;
	width: 84px;
	height: 45px;
	border-radius: 3px;
	background-color: #49a9ff;
}
